web-service/SiteWeb_DARTIES/src/conf/xml-resources/web-service-references/DARTIES_WS/wsdl/35.180.255.232_80/WebService_DARTIES/DARTIES_WS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://Darties/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Darties/">

<xs:element name="TransfererFichier" type="tns:TransfererFichier"/>

<xs:element name="TransfererFichierResponse" type="tns:TransfererFichierResponse"/>

<xs:complexType name="TransfererFichier">
<xs:sequence>
<xs:element name="filename" type="xs:string" minOccurs="0"/>
<xs:element name="buffer" type="xs:base64Binary" nillable="true" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TransfererFichierResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>